apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
  namespace: default
  labels:
    app: guestbook
spec:
  replicas: 2
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
  spec:
    containers:
      - name: ui
        image: gcr.io/google-samples/gb-frontend:v5
        ports:
          - containerPort: 80
