apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-slave
  namespace: dev
  labels:
    app: redis-slave
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-slave
  template:
    metadata:
      labels:
        app: redis-slave
    spec:
      containers:
        - name: redis-slave
          image: redis:6.2
          command: ["redis-server"]
          args:
            - "--replicaof"
            - "redis-master"
            - "6379"
            - "--tcp-keepalive"
            - "60"
            - "--repl-timeout"
            - "60"
            - "--client-output-buffer-limit"
            - "replica"
            - "256mb"
            - "64mb"
            - "60"
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 20
            periodSeconds: 30
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 10
            periodSeconds: 20
